# Where did Trump and Biden gain and lose votes?
Trump won Florida and tripled his margin of victory, but this analysis will look at where he and Biden gained and lost the votes that led to that.

In [25]:
import pandas as pd
import numpy as np

### Load a slice of the data produced in the previous notebook.

In [26]:
votes_df = pd.read_csv('data/vote_margin_changes.csv')
votes_df = votes_df[['CountyName', 'Biden', 'Trump_2020', 'total_votes_2020', 'Clinton', 'Trump_2016', 'total_votes_2016']]
votes_df.head()

,CountyName,Biden,Trump_2020,total_votes_2020,Clinton,Trump_2016,total_votes_2016
0,Alachua,89704,50972,142604,75820,46834,128571
1,Baker,2037,11911,14059,2112,10294,12634
2,Bay,25614,66097,93024,21797,62194,87453
3,Bradford,3160,10334,13632,2924,8913,12098
4,Brevard,148549,207883,360764,119679,181848,314752

### Calculate the difference in the raw vote totals for 2016 and 2020

In [27]:
votes_df['d_vote_change'] = votes_df['Biden'] - votes_df['Clinton']
votes_df['r_vote_change'] = votes_df['Trump_2020'] - votes_df['Trump_2016']

### How much did Trump and Biden gain in each county?

In [29]:
votes_df['d_vote_pct_change'] = votes_df['d_vote_change'] / votes_df['Clinton'] * 100
votes_df['r_vote_pct_change'] = votes_df['r_vote_change'] / votes_df['Trump_2016'] * 100

votes_df.sort_values('r_vote_pct_change', ascending=False).head(10)

,CountyName,Biden,Trump_2020,total_votes_2020,Clinton,Trump_2016,total_votes_2016,d_vote_change,r_vote_change,d_vote_pct_change,r_vote_pct_change
42,Miami-Dade,617864,532833,1156816,624146,333999,980204,-6282,198834,-1.006495,59.531316
48,Osceola,97297,73480,172436,85458,50301,140206,11839,23179,13.853589,46.080595
65,Walton,10338,32947,43711,6876,25756,33637,3462,7191,50.349040,27.919708
5,Broward,618752,333409,957672,553320,260951,831951,65432,72458,11.825345,27.766899
24,Hendry,4929,7906,12940,4615,6195,11115,314,1711,6.803900,27.619048
16,Flagler,28161,43043,71716,22026,33850,57503,6135,9193,27.853446,27.158050
50,Pasco,119073,179621,301970,90142,142101,241139,28931,37520,32.094917,26.403755
20,Glades,1385,3782,5193,1271,2996,4353,114,786,8.969315,26.234980
47,Orange,395014,245398,647403,329894,195216,546275,65120,50182,19.739674,25.705885
57,St. Johns,63850,110946,176622,43099,88684,136514,20751,22262,48.147289,25.102612

In [30]:
votes_df.sort_values('d_vote_pct_change', ascending=False).head(10)

,CountyName,Biden,Trump_2020,total_votes_2020,Clinton,Trump_2016,total_votes_2016,d_vote_change,r_vote_change,d_vote_pct_change,r_vote_pct_change
65,Walton,10338,32947,43711,6876,25756,33637,3462,7191,50.349040,27.919708
54,Santa Rosa,27612,77385,106928,18464,65339,87745,9148,12046,49.545061,18.436156
57,St. Johns,63850,110946,176622,43099,88684,136514,20751,22262,48.147289,25.102612
45,Okaloosa,34248,79798,116373,23780,71893,100855,10468,7905,44.020185,10.995507
44,Nassau,15564,42566,58811,10869,34266,46607,4695,8300,43.196246,24.222261
9,Clay,38317,84480,124405,27822,74963,106483,10495,9517,37.721947,12.695596
33,Lake,83505,125859,211314,62838,102188,170462,20667,23671,32.889334,23.164168
50,Pasco,119073,179621,301970,90142,142101,241139,28931,37520,32.094917,26.403755
29,Indian River,37844,58872,97484,29043,48620,80009,8801,10252,30.303343,21.085973
59,Sumter,29341,62761,92485,22638,52730,76665,6703,10031,29.609506,19.023326

### Compare differences to see how each performed in out-collecting the other for votes
For Biden to have overtaken Trump in Florida, he would have had to exceed Trump's increase in new votes, vote-for-vote compared to 2016. 

We'll subtract Trump's gains from Biden to give us a net difference. Positive values mean Biden outperformed Trump, while negative values mean Trump outperformed Biden.

In [13]:
votes_df['net_vote_change'] = votes_df['d_vote_change'] - votes_df['r_vote_change']
votes_df.sort_values('net_vote_change', ascending=True)

votes_df.drop(['total_votes_2020', 'total_votes_2016'], axis=1)

,CountyName,Biden,Trump_2020,Clinton,Trump_2016,d_vote_change,r_vote_change,net_vote_change
0,Alachua,89704,50972,75820,46834,13884,4138,9746
1,Baker,2037,11911,2112,10294,-75,1617,-1692
2,Bay,25614,66097,21797,62194,3817,3903,-86
3,Bradford,3160,10334,2924,8913,236,1421,-1185
4,Brevard,148549,207883,119679,181848,28870,26035,2835
5,Broward,618752,333409,553320,260951,65432,72458,-7026
6,Calhoun,1209,5274,1241,4655,-32,619,-651
7,Charlotte,42273,73243,33445,60218,8828,13025,-4197
8,Citrus,27092,65352,22789,54456,4303,10896,-6593
9,Clay,38317,84480,27822,74963,10495,9517,978
10,Collier,77621,128950,61085,105423,16536,23527,-6991
11,Columbia,8914,23836,7601,20368,1313,3468,-2155
12,Desoto,4259,8313,3781,6778,478,1535,-1057
13,Dixie,1365,6759,1270,5822,95,937,-842
14,Duval,252556,233762,205704,211672,46852,22090,24762
15,Escambia,70929,96674,57461,88808,13468,7866,5602
16,Flagler,28161,43043,22026,33850,6135,9193,-3058
17,Franklin,2120,4675,1744,4125,376,550,-174
18,Gadsden,16153,7465,15020,6728,1133,737,396
19,Gilchrist,1700,7895,1458,6740,242,1155,-913
20,Glades,1385,3782,1271,2996,114,786,-672
21,Gulf,1985,6113,1720,5329,265,784,-519
22,Hamilton,1963,3815,1904,3443,59,372,-313
23,Hardee,2298,6122,2149,5242,149,880,-731
24,Hendry,4929,7906,4615,6195,314,1711,-1397
25,Hernando,37519,70412,31795,58970,5724,11442,-5718
26,Highlands,16938,34873,14937,29565,2001,5308,-3307
27,Hillsborough,376367,327398,307896,266870,68471,60528,7943
28,Holmes,924,8080,853,7483,71,597,-526
29,Indian River,37844,58872,29043,48620,8801,10252,-1451
...,...,...,...,...,...,...,...,...
37,Liberty,694,2846,651,2543,43,303,-260
38,Madison,3747,5576,3526,4851,221,725,-504
39,Manatee,90166,124987,71224,101944,18942,23043,-4101
40,Marion,74858,127826,62041,107833,12817,19993,-7176
41,Martin,36893,61168,30185,53204,6708,7964,-1256
42,Miami-Dade,617864,532833,624146,333999,-6282,198834,-205116
43,Monroe,21881,25693,18971,21904,2910,3789,-879
44,Nassau,15564,42566,10869,34266,4695,8300,-3605
45,Okaloosa,34248,79798,23780,71893,10468,7905,2563
46,Okeechobee,4390,11470,3959,9356,431,2114,-1683
47,Orange,395014,245398,329894,195216,65120,50182,14938
48,Osceola,97297,73480,85458,50301,11839,23179,-11340
49,Palm Beach,433572,334711,374673,272402,58899,62309,-3410
50,Pasco,119073,179621,90142,142101,28931,37520,-8589
51,Pinellas,277450,276209,233701,239201,43749,37008,6741
52,Polk,145049,194586,117433,157430,27616,37156,-9540
53,Putnam,10527,25514,10094,22138,433,3376,-2943
54,Santa Rosa,27612,77385,18464,65339,9148,12046,-2898
55,Sarasota,120110,148370,97870,124438,22240,23932,-1692
56,Seminole,132528,125241,105914,109443,26614,15798,10816
57,St. Johns,63850,110946,43099,88684,20751,22262,-1511
58,St. Lucie,84137,86831,66881,70289,17256,16542,714
59,Sumter,29341,62761,22638,52730,6703,10031,-3328
60,Suwannee,4485,16410,3964,14287,521,2123,-1602
61,Taylor,2299,7751,2152,6930,147,821,-674
62,Union,1053,5133,1014,4568,39,565,-526
63,Volusia,130575,173821,109091,143007,21484,30814,-9330
64,Wakulla,5351,12874,4348,10512,1003,2362,-1359
65,Walton,10338,32947,6876,25756,3462,7191,-3729
66,Washington,2347,9876,2264,8637,83,1239,-1156

### How many counties did each perform better and worse?

In [19]:
biden_gains = votes_df[votes_df["net_vote_change"] > 0]
trump_gains = votes_df[votes_df["net_vote_change"] < 0]

print("Biden did better in {} counties".format(biden_gains.shape[0]))
print("Trump did better in {} counties".format(trump_gains.shape[0]))

Biden did better in 13 counties
Trump did better in 54 counties

### How does this translate to the number of votes?

In [24]:
biden_vote_gain = biden_gains.net_vote_change.sum()
trump_vote_gain = abs(trump_gains.net_vote_change).sum()

trump_vote_gain + biden_vote_gain
# print("Biden did better in {} counties".format(biden_vote_gain))
# print("Trump did better in {} counties".format(trump_vote_gain))

450477